@media screen and (min-width: 1440px) {
    .container {
        

        .card {


            .description {
                font-size: 1.81rem;
                line-height: 140%;
                margin-top: 1.8rem;
            }

            .price-block {
                margin-top: 0.7rem;
            }

            .line {
                margin-top: 2.5rem;
            }

            .avatar {
                margin-top: 1.5rem;
                font-size: 1.64rem;
            }
        }
    }
}