* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: #121417;
}

.container {
  border: 1px solid magenta;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card {
  background-color: #252d37;
  width: 87%;
  max-width: 41.3rem;
  border-radius: 1.7rem;
  padding: 2.3rem;
  font-size: 1.23rem;
}

.container .card .star-icon {
  background-color: rgba(124, 135, 152, 0.13);
  padding: 1.2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card .star-icon img {
  width: 1.4rem;
}

.container .card .title {
  color: white;
  font-size: 2.4rem;
  margin-top: 1.8rem;
}

.container .card .description {
  color: #959eac;
  font-size: 1.4rem;
  margin-top: 1.2rem;
  line-height: 2.2rem;
}

.container .card .rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card .rating-wrapper .rating-btn {
  color: #959eac;
  background-color: rgba(124, 135, 152, 0.13);
  font-size: 1.4rem;
  font-weight: 700;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.6rem;
}

.container .card .rating-wrapper .rating-btn div {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.container .card .rating-wrapper .rating-btn:hover {
  background-color: #fb7413;
  cursor: pointer;
}

.container .card .rating-wrapper .rating-btn:hover div {
  color: white;
}

.container .card .rating-wrapper .active {
  background-color: #959eac;
}

.container .card .rating-wrapper .active div {
  color: white;
}

.container .card .submit-btn {
  background-color: #fb7413;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.3rem;
  border-radius: 5rem;
  margin-top: 2.5rem;
}

.container .card .submit-btn div {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  letter-spacing: 0.1rem;
}

.container .card .submit-btn:hover {
  background-color: white;
  cursor: pointer;
}

.container .card .submit-btn:hover div {
  color: #fb7413;
}

.container .card .card-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card .card-content-2 img {
  width: 14.5rem;
  margin-top: 1rem;
}

.container .card .card-content-2 .result {
  background-color: rgba(124, 135, 152, 0.13);
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
  border-radius: 2rem;
  padding: 0.8rem 1.4rem;
}

.container .card .card-content-2 .result p {
  color: #fb7413;
  font-size: 1.4rem;
}

.container .card .card-content-2 .description {
  text-align: center;
  margin-bottom: 1.5rem;
}

.container .card .hide {
  display: none;
}

@media screen and (min-width: 1440px) {
  .container .card {
    padding: 3rem;
    border-radius: 3rem;
  }
  .container .card .star-icon {
    width: 5rem;
    height: 5rem;
  }
  .container .card .star-icon img {
    width: 1.7rem;
  }
  .container .card .title {
    margin-top: 3.3rem;
    font-size: 2.77rem;
  }
  .container .card .description {
    margin-top: 1.1rem;
    font-size: 1.505rem;
    line-height: 2.4rem;
  }
  .container .card .rating-wrapper .rating-btn {
    width: 5.1rem;
    height: 5.1rem;
    font-size: 1.6rem;
  }
  .container .card .rating-wrapper .rating-btn div {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  .container .card .submit-btn {
    margin-top: 3.2rem;
    margin-bottom: 0.3rem;
  }
  .container .card .submit-btn div {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}
/*# sourceMappingURL=styles.css.map */